body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background: #202731;
}

.division{
    text-align: center;
    margin-top: 20px;
}


